{% extends 'base.html.twig' %}

{% block body %}
    <h1>Verbtranslations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for verbTranslation in verbTranslations %}
            <tr>
                <td><a href="{{ path('verbtranslation_show', { 'id': verbTranslation.id }) }}">{{ verbTranslation.id }}</a></td>
                <td>{{ verbTranslation.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('verbtranslation_show', { 'id': verbTranslation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('verbtranslation_edit', { 'id': verbTranslation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('verbtranslation_new') }}">Create a new verbTranslation</a>
        </li>
    </ul>
{% endblock %}
