<table class="conjugation">
    <tr>
        <td>
            {{ form_widget(conjugation.firstSing) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_widget(conjugation.secondSing) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_widget(conjugation.thirdSing) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_widget(conjugation.firstPlur) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_widget(conjugation.secondPlur) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_widget(conjugation.thirdPlur) }}
        </td>
    </tr>
</table>
