{% extends 'base.html.twig' %}

{% block body %}

    <div class="cell headerCell">

        <h1>verbs index</h1>

    </div>

    <table class="index">
        <tbody>
        {% for verb in verbs %}
            <tr>
                <td><a class="indexLink" href="{{ path('verb_show', { 'id': verb.id }) }}">{{ verb.name }}</a></td>
                <!-- <td>{{ verb.name }}</td> -->
{#                <td>
                    <a href="{{ path('verb_show', { 'id': verb.id }) }}">show</a>
                    <a href="{{ path('verb_edit', { 'id': verb.id }) }}">edit</a>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <ul>
        <li>
            <a href="{{ path('verb_new') }}">Create a new verb</a>
        </li>
    </ul> -->
{% endblock %}
