{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}


    <div class="cell displayCell headerCell">

        <h1>Verb creation</h1>

    </div>


    <div class="cell displayCell headerCell">
        <table>
            <tr>
                <td>
                    {{ form_label(form.name) }}
                </td>

            </tr>
            <tr>
                <td>
                    {{ form_widget(form.name) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.translations) }}
                </td>
            </tr>
            <tr>

                <td class="translations" data-prototype="{{ form_widget(form.translations.vars.prototype)|e('html_attr') }}">
                    {% for translation in form.translations %}
                        <div>{{ form_widget(translation.name) }}</div>
                    {% endfor %}
                </td>
            </tr>
        </table>

    </div>


    {% for conjugation in form.conjugations %}
    <div class="cell displayCell">

        <h2>{{ conjugation.vars.value.time }}</h2>

        <div class="inlineTable">
            <table class="pronouns">
                <tr>
                    <td>
                        {{ 'I' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'You' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'He/she' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'We' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'You' | trans }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'They' | trans }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="inlineTable">
            <table class="conjugation">
                <tr>
                    <td>
                        {{ form_widget(conjugation.firstSing) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(conjugation.secondSing) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(conjugation.thirdSing) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(conjugation.firstPlur) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(conjugation.secondPlur) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(conjugation.thirdPlur) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}


    <div class="cell displayCell">

        <input type="submit" value="Create" />

        <ul>
            <li>
                <a href="{{ path('verb_index') }}">Back to the list</a>
            </li>
        </ul>

    </div>


    {{ form_end(form) }}

{% endblock %}
