{% extends 'base.html.twig' %}

{% block body %}

    <div class="cell headerCell">

        <h1>add verb</h1>

    </div>


    {{ form_start(form) }}


    <div class="cell headerCell">
        <table>
            <tr>
                <td>
                    {{ form_label(form.name) }}
                </td>

            </tr>
            <tr>
                <td>
                    {{ form_widget(form.name) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.translations) }}
                </td>
            </tr>
            <tr>
                <td class="translations" data-prototype="{{ form_widget(form.translations.vars.prototype)|e('html_attr') }}">
                    {% for translation in form.translations %}
                        <div>{{ form_widget(translation.name) }}</div>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>


    {% for conjugation in form.conjugations %}
    <div class="cell">

        <h2>{{ conjugation.vars.value.time }}</h2>

        <div class="inlineTable">
            {{ include('verb/pronouns.html.twig') }}
        </div>
        <div class="inlineTable">
            {{ include('verb/conjugations.html.twig') }}
        </div>
    </div>
    {% endfor %}


    <div class="cell headerCell">

        <input type="submit" value="Create" />

        <a href="{{ path('verb_index') }}">Back to the list</a>

    </div>


    {{ form_end(form) }}

{% endblock %}
