<table class="pronouns">
    <tr>
        <td>
            {{ 'verb.pronoun.first.sing' | trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'verb.pronoun.second.sing' | trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'verb.pronoun.third.sing' | trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'verb.pronoun.first.plur' | trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'verb.pronoun.second.plur' | trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'verb.pronoun.third.plur' | trans }}
        </td>
    </tr>
</table>
